<div *ngIf="name1">

<h1>{{title}}</h1>

{{employeeModel.value|json}}
</div>

{{info|json}}
<ul *ngFor="let gh of info" >
    <li>{{gh.fname }} {{gh.address}}</li>
</ul>
<br>
<div class="badge col-lg-4 col-md-offset-4">

    <form #employeeModel="ngForm" (ngSubmit)="savedata(employeeModel.value)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" #fname="ngModel" name="name" [(ngModel)]="name" required>
        </div>
        <div class="alert alert-danger" [hidden]="fname.valid">
            please enter name;
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" #femail="ngModel" name="email" [(ngModel)]="email" required>
        </div>

        <div class="alert alert-danger" [hidden]="femail.valid">
            please enter email;
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" #fphone="ngModel" name="phone" [(ngModel)]="phone1" required>
        </div>

        <div class="alert alert-danger" [hidden]="fphone.valid">
                please enter phone number;
            </div>

        <div class="form-group">
                <label for="email">Alternative Email</label>
                <input type="text" class="form-control" #femail="ngModel" name="email" [(ngModel)]="email" required>
            </div>

            <div class="alert alert-danger" [hidden]="femail.valid">
                    please enter alternative email;
                </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"> submit</button>
        </div>
    </form>
</div>