<div class="container">
<h3>{{title}}</h3>
<hr>
<p>Your profile will get Created when you submit this page</p>
<h4>Education Details</h4>
<h4>Basic/Graduation</h4>
<form>
    <div class="form-group">
        <label for="Course">*Course Name:</label>
        <select name=" " id="" class="form-control">
            <option value="">select Course Name</option>
            <option value="">BE/B.Tech</option>
        </select>
    </div>
    <div>
        <ul>
            <li><input type="radio" name="radio">Full Time</li>
            <li><input type="radio" name="radio">Part Time</li>
            <li><input type="radio" name="radio">Correspondence/Distance Learning</li>
        </ul>
    </div>

    <div>
            <label for="Specialization" class="form-group">*Specialization</label>
            <select name=" " id="" class="form-control">
                <option value="">Select Specialization</option>
                <option value="">Elctronics/Telecommunication</option>
                <option value="">Civil</option>
                <option value="">Mechanical</option>
                <option value="">Computer</option>
                <option value="">Information Technology</option>
            </select>
    </div>
    <div>
        <label for="University" class="form-group">*University/Institute</label>
        <input type="text" class="form-control">
    </div>
    <div>
            <label for="Graduation" class="form-group">*Gratuated in</label>
            <input type="number" min="2000" max="2020" class="form-control">
    </div>
    <h4>Employment Details</h4>

    <div>
            <label for="area" class="form-group">*Functional Area:</label>
            <select name=" " id="" class="form-control">
                <option value="">Select Functional Area</option>
                <option value="">Elctronics/Telecommunication</option>
                <option value="">Civil</option>
                <option value="">Mechanical</option>
                <option value="">Computer</option>
                <option value="">other</option>
            </select>
    </div>

    <div>
            <label for="role" class="form-group">*Role:</label>
            <select name=" " id="" class="form-control">
                <option value="">Select Your Role</option>
                <option value="">Elctronics/Telecommunication Engg</option>
                <option value="">Civil Engg</option>
                <option value="">Mechanical Engg</option>
                <option value="">Computer Engg</option>
                <option value="">other</option>
            </select>
    </div>
    <div>
        <label for="profile" class="form-group">profile Summary</label>
        <input type="text" maxlength="1000" class="form-control">
        <label for="number">1000</label>
    </div>
    <button class="btn btn-primary" value="Submit">Save My Profile</button>
    
</form >
</div>