<div class="container bg-info font-weight-bold" style="padding: 0px 250px;
">
    <h3>{{title}}</h3>
    <hr>
    <form>

        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" class="form-control">
        </div>


        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control">
        </div>

        <div>
            <button type="submit" class="btn btn-primary" (click)="login()">login</button>
            <p style="margin-left: 100px;">Not a member as yet?<strong (click)="signup()">Resister Now </strong></p>

            <!-- <button style="margin-left: 100px;" (click)="signup()" type="submit" class="btn btn-primary">Sign up</button> -->
        </div>
    </form>
</div>
<hr>