<div class="container bg-warning font-weight-bold" style="padding: 0px 250px;">
<h3>{{title}}</h3>
<hr>
<form>
        <div class="form-group">
                <label for="name">Na me:</label>
                <input type="text" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="Username">Username:</label>
                <input type="text" class="form-control">
            </div>
        
            <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control">
                </div>
            
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control">
                </div>
        
                <div class="form-group">
                        <label for="contact">Contact:</label>
                        <input type="text" class="form-control" maxlength="10">
                    </div>

    <div>
        
        <button   type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    
                 
    </div>
</form>
</div>
